@using H3ArT.Models.ViewModels
@model ArtworkVM

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <!-- Note this dynamic -->
                <h2 class="text-white py-2">@(Model.artwork.artworkId != 0 ? "Update" : "Create") Artwork</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="artwork.artworkId" hidden />
            <input asp-for="artwork.imageUrl" hidden />
            <input asp-for="artwork.artistID"  hidden />
            <input asp-for="@Model.artwork.applicationUser"  hidden />




            <div class="row">
                <div class="col-10">
                    <div class="border p-3">
                        <div class="form-floating py-2 col-12">
                            <!-- 1) Use this to list all the validation
                                 2) If you use "ModelOnly", it will not print the error of properties
                                    just print the error of a model in productController
                                 3) If you use "None", no msg will be printed
                            -->
                            <div asp-validation-summary="ModelOnly"></div>
                        </div>

                        <!-- Title -->
                        <div class="form-floating py-2 col-12">
                            <input asp-for="artwork.title" class="form-control border-0 shadow" />
                            <label class="p-0 ms-2" asp-for="artwork.title"></label>
                            <span asp-validation-for="artwork.title" class="text-danger"></span>
                        </div>

                        <!-- Description -->
                        <div class="form-floating py-2 col-12">
                            <textarea asp-for="artwork.description" class="form-control border-0 shadow"></textarea>
                            <label class="p-0 ms-2" asp-for="artwork.description"></label>
                        </div>

                        <!-- Artist Name -->
                        <div class="form-floating py-2 col-12">
                            <input asp-for="artwork.applicationUser.FullName" class="form-control border-0 shadow" />
                            <label class="p-0 ms-2" asp-for="artwork.applicationUser.FullName"></label>
                            <span asp-validation-for="artwork.applicationUser.FullName" class="text-danger"></span>
                        </div>

                        <!-- Price -->
                        <div class="form-floating py-2 col-12">
                            <input asp-for="artwork.price" class="form-control border-0 shadow" />
                            <label class="p-0 ms-2" asp-for="artwork.price"></label>
                            <span asp-validation-for="artwork.price" class="text-danger"></span>
                        </div>

                        <!-- Category -->
                        <div class="form-floating py-2 col-12">
                            <select asp-for="artwork.categoryID" asp-items="@Model.categoryList" class="form-select border-0 shadow">
                                <option disabled selected>--Select Category</option>
                            </select>
                            <label class="p-0 ms-2" asp-for="artwork.categoryID"></label>
                            <span asp-validation-for="artwork.categoryID" class="text-danger"></span>
                        </div>

                        <!-- Image URL -->
                        <div class="form-floating py-2 col-12">
                            <input type="file" name="file" class="form-control border-0 shadow" />
                            <label class="p-0 ms-2" asp-for="artwork.imageUrl"></label>
                        </div>

                        <div class="form-check form-switch py-2 col-12">
                            <input type="checkbox" class="form-check-input" asp-for="artwork.isPremium" />
                            <label class="form-check-label ms-2" asp-for="artwork.isPremium">Premium</label>
                        </div>
                        <!-- Buttons -->
                        <div class="row">
                            <div class="col-6 col-md-3">
                                <input type="submit" value="@(Model.artwork.artworkId != 0 ? "Update" : "Create")" class="btn btn-outline-primary border form-control" />
                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-controller="Artwork" asp-action="Index" class="btn btn-outline-primary form-control">Back to list</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <img src="@Model.artwork.imageUrl" width="100%"
                         style="border-radius:5px; border:1px solid #bbb9b9" />
                </div>
            </div>


        </form>
    </div>
</div>

<!-- Script nay giup viec validation duoc hien len ngay khi nguoi dung nhap sai -->
@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount linkchecker',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
